<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>俺の和訳</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h1>俺の和訳</h1>
          <p class="text-background-top">
            英語で作詞された音楽を10年以上聴き続けた<br class="viewport_br">「俺」が手掛ける音楽和訳掲載サイトです。<br>
            メールアドレスでサインアップすると<br class="viewport_br">どこにも載っていない和訳の記事を見ることができます。
          </p>
          <a class="btn-top" href="/list">入場する</a>
        </div>
      </div>
    </div>
  </body>
</html>